.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    border-bottom: 1px solid rgb(231, 231, 231);
    position: sticky;
    top: 0px;
    z-index: 999;
    background-color: white;
}
.header__left{
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.header__left img{
    height: 50px;
    margin-left: 10px;
}
.header__center{
    display: flex;
    justify-content: space-between;
   border: none;
   background-color: #f1f3f4;
   border-radius: 8px;
   padding: 1px;
   flex: .6;
   margin-bottom: 10px;

}
.header__center input{
    border: none;
    background: transparent;
    outline: none;
    font-size: 20px;
    flex: 1;
}
.header__right{
    display: flex;
    flex: .2;
    align-items: center;
}
.header__right__avatar{
    margin-left: 14px;
    cursor: pointer;
    transition: .2s;
}
.header__right__avatar:hover{
    border: 3px solid lightgrey;
    border-radius: 999px;
}
