.sendMail{
    position: absolute;
    bottom: 0;
    right: 10px;
    width: 40%;
    height: 60%;
    max-width: 500px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid whitesmoke;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.24);
    z-index: 999;
    background-color: white;
}
.sendMail__header{
    background-color: #404040;
    padding: 10px;
    color: white;
    display: flex;
    justify-content: space-between;
}
.sendMail__header > h3{
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
}
.sendMail > form{
    display: block;
    padding-top: 20px;
}
.sendMail > form > input{
    border: none;
    display: block;
    width: 98%;
    margin-bottom: 5px;
    outline: none;
    background-color: white;
    padding: 15px;
    border-bottom: 1px solid whitesmoke;
}

.form__button{
    margin-top: 180px;
    margin-left: 15px;
}
.form__button > button{
    background-color: #1a73e8 !important;
    color: white !important;
    width: 140px !important;
}
.sendMail__error{
  text-align: right;
  color: red;
  padding: 2px;
  font-weight: bold;
}
.closeIcon{
    cursor: pointer;
}